<h1>Editing Atractivo</h1>

<%= render 'form' %>

<td><%= link_to @atractivo, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-zoom-in"> Mostrar</i>
          <% end %></td>
<%= link_to atractivos_path, class: "btn btn-default" do %>
  <i class="glyphicon glyphicon-chevron-left"> Regresar</i>
<% end %>
