<div id="footer">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2016 - Ministerio de Turismo del Ecuador
          <br/>
          Developed by:: <%= link_to "Wander Bravo", "http://www.linkedin.com/in/wanderbravo" %>
        </small></p>
      </div>

    </div>

  </div>
</div>
